 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-image-1 {
  width: 512px;
  height: 223px;
  object-position: 50% 18.58%;
  margin: 60px auto 0;
}

.u-section-1 .u-group-1 {
  width: 512px;
  height: auto;
  min-height: 328px;
  margin: -14px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 8px 217px 0 154px;
}

.u-section-1 .u-text-2 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 6px 215px 0 156px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: -43px 8px 0 auto;
  padding: 1px 6px;
}

.u-section-1 .u-icon-1 {
  margin-top: 0;
  margin-left: 0;
  vertical-align: 0px;
  font-size: 0.9375rem;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 0.75rem;
  margin: 46px auto 0 212px;
}

.u-section-1 .u-line-1 {
  transform-origin: left center 0px;
  width: 452px;
  margin: 6px auto 0 30px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 0.75rem;
  margin: 21px auto 0 165px;
}

.u-section-1 .u-line-2 {
  transform-origin: left center 0px;
  width: 452px;
  margin: 19px auto 0 30px;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 113px;
  margin: 17px 8px 0 30px;
}

.u-section-1 .u-line-3 {
  transform-origin: left center 0px;
  width: 452px;
  margin: -15px auto 0 30px;
}

.u-section-1 .u-shape-1 {
  width: 121px;
  height: 121px;
  margin: -381px auto 0 343px;
}

.u-section-1 .u-image-2 {
  width: 98px;
  height: 98px;
  margin: -110px auto 332px 355px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-line-3 {
    height: 3px;
  }

  .u-section-1 .u-shape-1 {
    margin-left: 244px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 256px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    margin-left: 129px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 141px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    margin-left: 47px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 59px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    height: 148px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-1 {
    min-height: 348px;
    margin-top: -11px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-right: 64px;
    margin-left: 136px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 4px;
    margin-right: 64px;
    margin-left: 136px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -41px;
    margin-right: 7px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 68px;
    margin-left: 126px;
  }

  .u-section-1 .u-line-1 {
    width: 322px;
    margin-top: 2px;
    margin-left: 11px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 19px;
    margin-left: 79px;
  }

  .u-section-1 .u-line-2 {
    width: 322px;
    margin-top: 21px;
    margin-left: 11px;
  }

  .u-section-1 .u-custom-html-1 {
    min-height: 117px;
    margin-top: 21px;
    margin-right: -7px;
    margin-left: 11px;
  }

  .u-section-1 .u-line-3 {
    transform-origin: right center 0px;
    width: 322px;
    margin-top: 7px;
    margin-right: 7px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -405px;
    margin-left: 11px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -109px;
    margin-bottom: 356px;
    margin-left: 23px;
  }
}